.legenda {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  position: fixed;
  left: 1em;
  bottom: 1em;
  padding: 0.5em;
  max-width: 40em;
  display: flex;
  flex-direction: column;
  outline-style: solid;
  outline-width: 1px;
  background-color: #ffffff;
}

.title {
  font-family: "Averia Sans Libre", serif;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.change {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.change {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.lang {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

canvas {
   position: fixed;
   display: block;
   z-index: -10;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
}

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }
