main {
  position: fixed;
  margin-left: 1em;
  margin-bottom: 1em;
}

.legenda {
  max-width: 21em;
  display: flex;
  outline-style: solid;
}

canvas {
   position: fixed;
   display: block;
   z-index: -10;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
