.player {
  display: flex;
  flex-flow: column nowrap;

  position: fixed;
  margin: 0 auto;
  top: 1em;
  max width:90vw;
}

.legenda {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #ffffff;

  display: flex;
  flex-flow: column nowrap;

  border: 1px solid;
  background-color: #2B3B30;
  position: fixed;
  left: 1em;
  bottom: 1em;
  max-width: 40em;
}

.title {
  font-family: "Averia Sans Libre", serif;
  font-size: 36px;
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
  align-items: center;
  align-content: center;

  padding: 0.5em;
  border-bottom: 1px solid;
}

.change {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-around;
  align-items: center;
  align-content: center;

  padding: 0.5em;
  border-bottom: 1px solid;
}

.subpages {
  display: flex;
  flex-flow: column nowrap;

  justify-content: space-around;
  align-items: center;
  align-content: center;

  padding: 0.5em;
}

.subpages span {
  padding: 0em 0.5em;
}

.lang {
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-around;
  align-items: center;
  align-content: center;

  padding: 0.5em;
  border-top: 1px solid;
}

canvas {
   position: fixed;
   display: block;
   z-index: -10;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
}

.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons-outlined.md-48 { font-size: 48px; }
